<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bewerk of Toeken Award</title>
    <%- include('../partials/_favicon') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>

    <%- include('../partials/_navbar') %>

    <div class="container mt-5">
        <h1 class="mb-4">Bewerk of Toeken Award</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Bewerk BAK-telling</h5>
                        <p class="card-text">Klik hier om de BAK-telling van de gebruiker te bewerken.</p>
                        <a href="/admin/<%= lid.id %>/edit-bak" class="btn btn-primary">Doorgaan</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Toeken Award</h5>
                        <p class="card-text">Klik hier om een award toe te kennen aan de gebruiker.</p>
                        <a href="/admin/<%= lid.id %>/assign-award" class="btn btn-primary">Doorgaan</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Award verwijderen</h5>
                        <p class="card-text">Klik hier om een award van de gebruiker te verwijderen.</p>
                        <a href="/admin/<%= lid.id %>/remove-award" class="btn btn-primary">Doorgaan</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>