<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta viewport="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <%- include('partials/_favicon') %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        .header-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }

        .search-input {
            max-width: 300px;
        }
    </style>
</head>

<body style="background-color: rgb(255,253,241);">


    <%- include('partials/_navbar') %>

    <div class="container mt-5">
        <div class="header-content">
            <h1 style="color: rgb(207, 163, 80);">Dashboard</h1>
            <div class="search-input">
                <input type="text" class="form-control" id="searchUsers" placeholder="Gebruikers zoeken...">
            </div>
        </div>

        <div class="card shadow-sm mb-3">
            <div class="card-body">
                <table class="table table-striped" id="usersTable">
                    <thead>
                        <tr>
                            <th scope="col">Naam</th>
                            <th scope="col">Bevestigde BAKKEN</th>
                            <th scope="col">In behandeling BAK Ontvangen</th>
                            <th scope="col">In behandeling BAK Getrokken</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <% users.sort((a, b)=> b.bak - a.bak).forEach(user => { %>
                        <tr>
                            <td>
                                <img src="<%= user.profilePicture ? '/uploads/profile/' + user.profilePicture : '/uploads/profile/blank_image.png' %>"
                                    alt="Profielfoto" class="rounded-circle me-2"
                                    style="width: 30px; height: 30px; object-fit: cover;">
                                <%= user.name %>
                            </td>
                            <td>
                                <%= user.bak %>
                            </td>
                            <td>
                                <%= user.BakRequests.length %>
                            </td>
                            <td>
                                <%= user.ReceivedProposals.length %>
                            </td>
                            <td>
                                <a href="/profile/<%= user.id %>" class="btn btn-primary btn-sm">Profiel
                                    bekijken</a>
                            </td>
                        </tr>
                        <% }) %>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Functie om totaal aantal BAKs uit te geven -->
        <% function getTotalBaksUitgegeven(users) { let totalBaks=0; users.forEach(user=> {
                totalBaks += user.bak;
                });
                return totalBaks;
                }

                %>
        <!-- Snelstatistieken Sectie -->
        <div class="card mb-3">
            <div class="card-header">
                Snelstatistieken
            </div>
            <div class="card-body">
                <p>Totaal aantal gebruikers: <%= users.length %>
                </p>
                <p>Totaal aantal uitgegeven BAKKEN: <%= getTotalBaksUitgegeven(users) %>
                </p>
                <!-- Voeg hier meer snelstatistieken toe indien nodig -->
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('searchUsers').addEventListener('keyup', function () {
            var searchValue = this.value.toLowerCase();
            var rows = document.querySelectorAll('#usersTable tbody tr');

            rows.forEach(row => {
                const isVisible = row.querySelector('td').textContent.toLowerCase().includes(searchValue);
                row.style.display = isVisible ? '' : 'none';
            });
        });

    </script>

</body>

</html>